<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>クイズセット選択</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
</head>
<body>
    {% extends "main/logined.html" %}
    {% block content %}
        <h2>クイズセットを選択してください</h2>
        <div class="select_mode_container">
            <form method="post">
                <input type="radio" id="question_0" name="select_set" value="question_0" checked>
                <label for="question_0">Pythonの特徴</label>
                <br>
                <input type="radio" id="question_1" name="select_set" value="question_1">
                <label for="question_1">人工知能の基礎</label>
                <br>
                <button type="submit">スタート</button>
            </form>
        </div>

        <!-- 間違えた問題を復習するフォーム -->
        <form method="POST" class="incorrect_mode_button" action="{{ url_for('incorrect_mode') }}">
            <button type="submit">間違えた問題を復習する</button>
        </form>
    {% endblock %}
</body>
</html>
