<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>次の問題へ</title>
    <!-- CSSを関連付け -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/next_question.css') }}">
</head>
<body>
    
        {% extends "main/logined.html" %}
        {% block content %}
    <form action="/next_question" method="post">
        <button type="submit">次の問題へ</button>
    </form>
    {% endblock %}
</body>
</html>
