<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Python勉強サイト{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/application.css') }}">
</head>
<body>
    <div class="content-wrapper">
        <header>
            <div class="logo">
                <li><a href="{{ url_for('main') }}">Python勉強サイト</a></li>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('signup') }}">サインアップ</a></li>
                    <li><a href="{{ url_for('login') }}">ログイン</a></li>
                </ul>
            </nav>
        </header>
        
        <main>
            {% block content %}
                <section class="hero">
                    <div class="hero-content">
                        <h2>時代の先端を駆け抜ける</h2>
                        <p>4択クイズで楽しくPythonを学ぼう</p>
                        <a href="{{ url_for('signup') }}" class="cta-btn-dark">サインアップ</a>
                        <a href="{{ url_for('login') }}" class="cta-btn">ログイン</a>
                    </div>
                    <div class="hero-image">
                        <img src="{{ url_for('static', filename='stylesheets/images/image.png') }}" alt="学習アプリのイメージ">
                    </div>
                </section>
                <section class="explain">
                    <div class="explain-content">
                        <h2>なぜPythonをまなぶのか</h2>
                        <p></p>
                    </div>
                </section>
            {% endblock %}
        </main>
    </div>
</body>

</html>
