<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
{% extends "application.html" %}
{% block content %}
<main>
    <div class="box">
        {% if label and score %}
            <h2 class="result">セリフ{{quote}}は</h2>
            <h2 class="result"> {{label}}なセリフです。 </h2>
            <h3 class="result">{{label}}度合いは{{score}}%です</h3>
        {% else %}
            <h2 class="result">数字を入力してください</h2>
        {% endif %}
    </div>

</main>
{% endblock %}